#playing-cards{
display: flex;
justify-content:center;
flex-wrap: wrap;
gap:20px;
}
.card {
  width: 120px;
  height:250px;
  display: flex;
  justify-content: space-between;
}
.left {
  align-self: flex-start;
}
.middle {
  display: flex;
  align-self: center;
  flex-direction:column;
}

.right{
  align-self: flex-end;
}
